<% content_for :meta_title, "Tout nos services de livraisons" %>
<% content_for :meta_description, "De la course express aux livraisons régulières" %>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Transport urgent",
    "item": "https://www.bicicouriers.fr/services/transport-urgent"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Equilibre des vos stocks",
    "item": "https://www.bicicouriers.fr/services/equilibre-des-vos-stocks"
  },{
    "@type": "ListItem",
    "position": 3,
    "name": "Mutualisation de vos flux de transport",
    "item": "https://www.bicicouriers.fr/services/mutualisation-de-vos-flux-de-transport"
  },{
    "@type": "ListItem",
    "position": 4,
    "name": "Privatisation de coursiers",
    "item": "https://www.bicicouriers.fr/services/privatisation-de-coursiers"
  },{
    "@type": "ListItem",
    "position": 5,
    "name": "Gestion du courrier entreprise",
    "item": "https://www.bicicouriers.fr/services/gestion-du-courrier-entreprise"
  },{
    "@type": "ListItem",
    "position": 6,
    "name": "Votre coursier sur mesure",
    "item": "https://www.bicicouriers.fr/services/votre-coursier-sur-mesure"
  }]
}
</script>

<div class="long-container">


  <div class="long-line dashed">
    <%= image_tag 'services/long_dashed_line.svg', alt: "ligne-design" %>
  </div>

  <div class="long-line plein">
    <%= image_tag 'services/long_line.svg', alt: "ligne-design"  %>
  </div>

  <div class="ellipse-1">
    <%= image_tag 'services/ellipse.svg', alt: "elipse-design" %>
  </div>

  <div class="oeuf-1">
    <%= image_tag 'services/oeuf_1.svg', alt: "oeuf-sur-le-plat-design" %>
  </div>

  <div class="services-container">

    <div class="services-info-container">
      <div class="services-info-title">
        <h1>Nos Services</h1>
      </div>
      <div class="services-info-text">
        <p>En tant que coursiers professionnels à Nantes, nous mettons tout en oeuvre pour répondre à vos besoins de façon professionnelle, rapide et efficace. Nous sommes des experts en livraison urgente et express. Nos vélos cargos nous permettent de transporter même les marchandises les plus encombrantes.</p>
      </div>
    </div>

    <div class="service-board">
      <% @services.each do |service| %>
      <div class="ghost-card_service">
        <div class="card-service">
          <div class="service-title">
            <h2> <%= service.title %> </h2>
          </div>
          <div class="service-content">
            <p> <%= service.content %> </p>
          </div>
        </div>
        <div class="service-button">
          <%= link_to "En savoir plus", service_path(service), class: 's-button' %>
        </div>
      </div>
      <% end %>
    </div>

  </div>

  <div class="oeuf-2">
    <%#= image_tag 'services/oeuf_2.svg', alt: "oeuf-sur-le-plat-design" %>
  </div>

</div>
