<% content_for :meta_title, "#{@service.title}" %>
<% content_for :meta_description, @service.details %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>



<div class=" h-auto sm:h-screen w-full flex sm:flex-row flex-col-reverse  bg-blue-bici pt-10">

  <div class="lg:m-32 p-4 w-full flex items-center">
   <%= image_tag @service.images, alt: "service-de-bicicouriers"  %>
  </div>
  <div class="lg:m-32  h-3/4 p-4 w-full">
    <%= link_to services_path, class: "text-white font-semibold" do %>
       <i class="fas fa-angle-left text-white"></i> RETOUR
    <% end %>


    <h1 class="text-4xl xl:my-20 font-bold"><%= @service.title %></h1>
    <p class="text-lg xl:my-20 "> <%= @service.details %></p>
    <%= link_to "DEMANDER UN DEVIS",  new_contact_path, class: "btn-bici-lg w-80" %>
  </div>
</div>
