<% content_for :meta_title, "#{@service.title}" %>
<% content_for :meta_description, @service.details %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>



<div class="px-8 py-16 bg-blue-bici lg:flex md:h-screen lg:items-center">

  <div class="mb-10 lg:w-3/4">
    <%= link_to services_path, class: "text-white font-semibold" do %>
       <i class="fas fa-angle-left text-white"></i> RETOUR
    <% end %>
    <h1 class="text-white text-4xl font-bold my-8"><%= @service.title %></h1>
    <p class="text-white text-lg mb-10"> <%= @service.details %></p>
    <%= link_to "DEMANDER UN DEVIS",  new_contact_path, class: "btn-bici-lg" %>
  </div>

  <div class=" ">
   <%= image_tag @service.images, alt: "service-de-bicicouriers"  %>
  </div>

</div>
