<% content_for :meta_title, "#{@service.title}" %>
<% content_for :meta_description, @service.details %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>



<div class="show-service-container">

  <div class="show-service-img">
   <%= image_tag @service.images, alt: "service-de-bicicouriers"  %>
  </div>
  <div class="show-service-details">
    <%= link_to services_path do %>
       <i class="fas fa-angle-left"></i><%= "  RETOUR AU SERVICE"%>
    <% end %>


    <h1><%= @service.title %></h1>
    <p> <%= @service.details %></p>
    <%= link_to "DEMANDER UN DEVIS",  new_contact_path, class: "d-button" %>
  </div>
</div>

<%# <script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Service",
  "name": "Transport urgent",
  "image": "https://www.bicicouriers.fr/assets/services/transport_urgent_nantes-58a842dc3764ba1de01ddcf4dfda68b6f0c1e7fc1ce0a95da3c2ac0638090c21.svg",
  "description": "Vous avez une demande express ? Vous souhaitez faire livrer une lettre ou un colis pendant les heures de pointes ? La livraison express par coursiers à vélos sur Nantes est la plus rapide ! Nos coursiers pratique le cyclisme sportif et mettent leur efficacité à votre service en livrant votre colis 45 minutes seulement après votre demande.",
  "brand": "BiciCouriers",
  "offers": {
    "@type": "Offer",
    "url": "https://www.bicicouriers.fr/services/transport-urgent",
    "priceCurrency": "EUR",
    "price": ""
  }
}
</script> %>
