<%= simple_form_for( simulation, remote: true) do |f| %>
  <%= f.input :s_pickup, placeholder: 'adresse de départ', label: false, input_html: { class: 'address-input' } %>
  <%= f.input :s_drop, placeholder: "adresse d'arrivée", label: false, input_html: { class: 'address-input' } %>
  <%= f.input :s_urgence, label: false, wrapper_html: { style: "display: none" } %>
  <%= f.input :s_volume, label: false, wrapper_html: { style: "display: none" } %>
  <%= f.input :s_distance, label: false, wrapper_html: { style: "display: none" } %>
  <%= f.input :details, label: false, wrapper_html: { style: "display: none" }  %>
  <%= f.input :name, label: false, wrapper_html: { style: "display: none" }  %>
  <%= f.input :phone, label: false, wrapper_html: { style: "display: none" }  %>
  <%= f.input :mail, label: false, wrapper_html: { style: "display: none" }  %>
  <%= f.input :price_cents, label: false, wrapper_html: { style: "display: none" } %>
  <%#= text_field_tag(:test) %>
  <div class="div-align" data-urgence='0' id="urgence">
    <div class="icon-w fs10"><div class='icon urgence urgence-1 active' data-tickets='0'></div>Avant 19h</div>
    <div class="icon-w fs10"><div class='icon urgence urgence-2' data-tickets='1'></div>Avant 13h</div>
    <div class="icon-w fs10"><div class='icon urgence urgence-3' data-tickets='2'></div>Avant 10h</div>
  </div>
  <div class="div-align" data-volume='0' id="volume">
    <div class="icon-w fs10"><div class='icon volume volume-1 active' data-tickets='0'></div>Enveloppe ou petit plis</div>
    <div class="icon-w fs10"><div class='icon volume volume-2' data-tickets='1'></div>Gros colis ou > 5kg</div>
  </div>
  <div id="distance" data-distance="0"></div>
  <!-- <br> -->
  <%= f.submit "Simuler", class: 'bici-button', id: 'sweet-alert-demo' %>
  <%#= link_to "send mail", simulation_path(simulation: { name: 'Tao', email: 'florent@gmail.com', phone: '0674236080', message: 'Livraison de #{@simulation.s_pickup} vers #{@simulation.s_drop}'  }), method: 'post', id: 'mail-link' %>
  <%#= raise %>
<% end %>


  <!-- <button id="" class="bici-button">Simuler !</button> -->

  <form  action="/simulation" method="post" >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :simulation_id, @simulation.id %>
    <label class="hidden" for="data-spot"></label>
    <input class="hidden" type="text" id="data-spot" name="data-spot"></input>
    <button id='mail-link' class="button-edit-save hidden test-data">send mail</button>
  </form>



  <%= form_tag( simulation_orders_path, remote: true) do %>
    <%= hidden_field_tag 'simulation_id', simulation.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary hidden', id: 'purchase-link' %>
  <% end %>
  <button id="pay" class="btn btn-primary hidden">Pay</button>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    let check_id = null
    const getSimulationOrderId = () => {
        function fetchTrainers() {
        return fetch('/simulation_orders')
          .then(response => response.json())
        };

        fetchTrainers()
          .then(results => {
            return results.checkout_session_id
          }).then((data) => {
            checkoutSession = data
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: checkoutSession
            });
          });

}
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      getSimulationOrderId();
    });
  </script>


