<h1> Simulation de course </h1>

Pickup : <%= @simulation.s_pickup %><br>
Drop : <%= @simulation.s_drop %><br>
Urgence : <%= @simulation.s_urgence  %><br>
Volume : <%= @simulation.s_volume  %><br>
Urgence : <%= @simulation.s_distance  %><br>
