<h1> Simulation de course </h1>

Pickup : <%= @simulation.s_pickup if @simulation.present?%><br>
Drop : <%= @simulation.s_drop if @simulation.present?%><br>
Urgence : <%= @simulation.s_urgence if @simulation.present? %><br>
Volume : <%= @simulation.s_volume if @simulation.present? %><br>
Urgence : <%= @simulation.s_distance if @simulation.present? %><br>
