<div class="shopping-cart-main-container">
  <div class="course-main-container">
    <div class="course-in-progress">
      <h1>Mon panier</h1>
      <div class="index-column index-titles">
        <div class="index-title title center">  <p>Date</p>         </div>
        <div class="index-title title center">         <p>Description</p>  </div>
        <div class="index-title title center">  <p>Prix</p>         </div>

      </div>
      <%= render 'shared/index_shopping_carts_courses', courses: @shopping_cart.courses %>
      <%= render 'shared/index_shopping_carts_carnets', carnets: @shopping_cart.carnets %>
    </div>
    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'shopping_cart_id', @shopping_cart.id %>
      <%= submit_tag 'Acheter', class: 'bici-button' %>
    <% end %>
  </div>
</div>
