<% if carnets != [] %>
  <div class="cards">
    <% carnets.each do |carnet|  %>
      <div class="card">
        <div class="infos-div"><%= link_to carnet_path(carnet), remote: true, class: "infos" do  %>
          <div class="item w-200 "> <p> <%= carnet.created_at.strftime('%e/%V/%y') %> </p> </div>
          <div class="item grow text-g"> <p>Carnet de <%= carnet.carnet_template.ticket_nb %> tickets</p></div>
          <div class="item mw-80 text-g"><p><%= carnet.carnet_template.ticket_nb * carnet.carnet_template.price %>
            <span class="hors-taxe-text">H.T</span></p>
          </div>

        <% end %></div>
        <% if params[:controller] == 'shopping_carts' %>
          <div class="delete-div"> <%= link_to carnet_path(carnet), method: :delete do %>
            <div class="delete-button"></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
