<% if courses != [] %>
  <div class="cards">
    <% courses.each do |course|  %>
      <div class="card">
        <div class="infos-div"><%= link_to course_path(course), class: "infos" do  %>
          <div class="item w-60 "> <p> <%= (course.pickups.first.created_at).strftime('%e/%V/%y') %> </p> </div>
          <div class="item w-140 ta-r text-f"> <p>Livraison entre : <br>et :</p></div>
          <div class="item grow text-g"> <p><span class="address-text"><%= course.pickups.first.address %></span><br>
                                <span class="address-text"><%= course.drops.first.address %></span></p>
                              </div>
          <div class="item mw-80 text-g fs18"><p>
            <% if course.ticket_nb.nil? %>
              0
            <% else %>
              <% if  course.ticket_nb > 0 %>
                <% if course.carnet_id.nil? %>
                  <%= number_with_precision((583 * course.ticket_nb)/100.00, precision: 2) %>
                <% else %>
                  <%= number_with_precision((course.carnet.carnet_template.price) * course.ticket_nb, precision: 2) %>
                <% end %>
              <% else %>
                0
              <% end %>
            <% end %>
            <span class="hors-taxe-text">H.T</span></p>
          </div>

          <% if params[:controller] == 'payments' %>
          <div class="item mw-80 text-g fs18"><p>
            <% if course.ticket_nb.nil? %>
              0
            <% else %>
              <% if  course.ticket_nb > 0 %>
                <% if course.carnet_id.nil? %>
                  <%= number_with_precision((583 * course.ticket_nb)/100.00 * 1.2, precision: 2) %>
                <% else %>
                  <%= number_with_precision((course.carnet.carnet_template.price) * course.ticket_nb * 1.2, precision: 2) %>
                <% end %>
              <% else %>
                0
              <% end %>
            <% end %>
            <span class="hors-taxe-text">€ TTC</span></p>
          </div>
          <% end %>



        <% end %></div>
        <% if params[:controller] == 'shopping_carts' %>
          <div class="delete-div"> <%= link_to course_path(course), method: :delete do %>
            <div class="delete-button"></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

