<div class="main-side-nav">

  <div class="user-infos">
   <%# if current_user %>
    <p id="name"> <%= current_user.first_name%> <strong> <%=current_user.last_name %></strong></p>
    <p id="company"> <%= current_user.company %> </p>
    <p id="email"> <%= current_user.email %> </p>
    <p id="phone"> <%= current_user.phone %> </p>
    <%# end %>
  </div>
  <div class="button-list">
    <% cart =  ShoppingCart.last.carnets.count + ShoppingCart.last.courses.count %>
    <ul>
      <%= link_to "Nouvelle course", new_course_path, class: "bici-button" %>
      <br>
      <%#= raise %>
      <li class="<%= 'select' if (params[:controller] == 'shopping_carts' && params[:action] == 'show')%>"> <%= link_to "Mon panier (#{cart})", shopping_cart_path(ShoppingCart.last.id) if ShoppingCart.last != nil %> </li>
      <li class="<%= 'select' if (params[:controller] == 'courses' && params[:action] == 'index')%>"> <%= link_to "Mes livraisons", courses_path  %></li>
      <li class="<%= 'select' if (params[:controller] == 'carnets' && params[:action] == 'index')%>"> <%= link_to "Mes carnets", carnets_path  %></li>
      <li class="<%= 'select' if (params[:controller] == 'users' && params[:action] == 'show')%>"> <%= link_to "Mes informations", profil_path  %> </li>
      <br>
    </ul>
  </div>
  <div class="side-oeuf-1">
    <%= image_tag 'navbar/oeuf-side-1.svg', alt: "oeuf-sur-le-plat-design" %>
  </div>
  <div class="myBar label-center"></div>

  <%= render 'shared/sidebar_counter', remote: true %>

</div>


