<div class="h-full w-96 py-4 px-4 bg-blue-bici-dark flex flex-col border-r-2" data-controller='navbar' data-navbar-target='sidebar'>

  <div class="pb-6">
    <div class="flex justify-between pr-4 mb-4">
      <h1 class='cursor-default text-2xl italic tracking-wider mb-4'><strong class="transition <%= ['hover:text-pink-bici', 'hover:text-blue-bici', 'hover:text-yellow-bici'].sample %> ">BICI</strong>COURIERS</h1>
      <i data-action='click->navbar#collapseSidebar' class="text-2xl fas fa-angle-double-left transition cursor-pointer transform hover:scale-125"></i>
    </div>
      <p class='font-font-extralight tracking-wider'><%= current_user.first_name %> <strong><%= current_user.last_name %></strong> </p>
      <p class='text-xl font-semibold tracking-wider'><%= current_user.company %> </p>
  </div>

  <div class="">

    <%= link_to new_delivery_path do %>
      <div class="flex align-middle h-12 my-4 p-3 rounded-lg bg-blue-bici transform transition hover:translate-x-8 cursor-pointer">
        <div class=''><i class="fas fa-ticket-alt pl-2 pr-4"></i><p class="transform -translate-y-1/2 top-1/2 absolute right-3 text-xl">Nouvelle livraison</p></div>
      </div>
    <% end %>

    <%= link_to deliveries_path do %>
      <div class="flex align-middle h-12 my-4 p-3 rounded-lg bg-blue-bici transform transition hover:translate-x-8 cursor-pointer">
        <div class=''><i class="fas fa-ticket-alt pl-2 pr-4"></i><p class="transform -translate-y-1/2 top-1/2 absolute right-3 text-xl">Mes livraisons</p></div>
      </div>
    <% end %>

    <%= link_to tickets_books_path do %>
      <div class="flex align-middle h-12 my-4 p-3 rounded-lg bg-blue-bici transform transition hover:translate-x-8 cursor-pointer">
        <div class=''><i class="fas fa-ticket-alt pl-2 pr-4"></i><p class="transform -translate-y-1/2 top-1/2 absolute right-3 text-xl">Mes carnets</p></div>
      </div>
    <% end %>

    <%= link_to favorite_addresses_path do %>
      <div class="flex align-middle h-12 my-4 p-3 rounded-lg bg-blue-bici transform transition hover:translate-x-8 cursor-pointer">
        <div class=''><i class="fas fa-ticket-alt pl-2 pr-4"></i><p class="transform -translate-y-1/2 top-1/2 absolute right-3 text-xl">Mes adresses</p></div>
      </div>
    <% end %>

    <!--
    <div class="flex align-middle h-12 my-4 p-3 rounded-lg bg-blue-bici transform transition hover:translate-x-8 cursor-pointer">
      <div class=''><i class="fas fa-ticket-alt pl-2 pr-4"></i><p class="transform -translate-y-1/2 top-1/2 absolute right-3 text-xl">Mes livraisons</p></div>
    </div>
    <div class="flex align-middle h-12 my-4 p-3 rounded-lg bg-blue-bici transform transition hover:translate-x-8 cursor-pointer">
      <div class=''><i class="fas fa-ticket-alt pl-2 pr-4"></i><p class="transform -translate-y-1/2 top-1/2 absolute right-3 text-xl">Mes livraisons</p></div>
    </div> -->
  </div>

  <div class='self-end w-full h-full'>
    <div class="p-4">
      <svg viewBox="0 0 36 36" class="circular-chart orange">
        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
        <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
        <text x="18" y="20.35" class="percentage">90%</text>
      </svg>
    </div>
  </div>

</div>
