<div class="z-50 bg-black h-screen w-screen h-100 py-40 px-40" data-controller="delivery">
    <div class="bg-pink-bici m-auto h-full rounded-xl">
      <%= simple_form_for @delivery, data: {reflex: 'submit->Delivery#create'} do |field|%>
      <div class="grid grid-cols-2 gap-4 p-4">
        <%= render(PickupComponent.new(pickups: :pickups, field: field, city: @city)) %>
        <%= render(DropComponent.new(drops: :drops, field: field, city: @city)) %>
        <%= render(UrgenceComponent.new(delivery_options: :delivery_options, field: field)) %>
        <%= render(VolumeComponent.new(delivery_options: :delivery_options, field: field)) %>
        <%= render(TotalComponent.new(delivery: @delivery, urgence: @urgence, volume: @volume)) %>
      </div>
        <%= field.submit "Commander", class: 'btn-bici w-40' %>
      <% end %>
    </div>
      <%= @delivery.distance %>
</div>
