<div id="form" class="form z-50 p-12 w-full " data-delivery-target="form">

    <div class="text-blue-bici-dark bg-blue-50 m-auto h-auto">

      <%= form_with model: @delivery, data: {reflex: 'submit->Delivery#create_online'} do |field|%>

        <div class="grid md:grid-cols-2 gap-2 p-4">
          <%= field.hidden_field :distance %>
          <%= field.hidden_field :tickets_distance %>
          <%= field.hidden_field :tickets_count %>

          <div class="w-full h-full">
            <%= field.fields_for :pickups do |p|%>
              <%= p.label :address, 'Adresse de départ' %>
              <%= p.text_field :address, label: 'Adresse de départ',
                                    placeholder: "8 Passage de la poule noire, 44000 Nantes",
                                    'data-reflex': 'debounced:change->Delivery#distance',
                                    'data-action': 'change->mapbox#noname',
                                    'data-coordinates': [],
                                    'data-delivery-target': "address pickup",
                                    'data-mapbox-target': "address pickup",
                                    'data-reflex-permanent': true,
                                    class: 'input-bici' %>
              <%= p.text_field :start_hour, label: false, as: :string, value: start_hour, class: 'hidden' %>
              <%= p.text_field :end_hour,   label: false, as: :string, value: end_hour, class: 'hidden' %>
            <% end %>
          </div>
          <div class="w-full h-full">
            <%= field.fields_for :drops do |p|%>
              <%= p.label :address, "Adresse de livraison" %>
              <%= p.text_field :address, label: "Adresse d'arrivée",
                                    placeholder: "Destination...",
                                    'data-reflex': 'debounced:change->Delivery#distance',
                                    'data-action': 'change->mapbox#noname',
                                    'data-coordinates': [],
                                    'data-delivery-target': "address drop",
                                    'data-mapbox-target': "address drop",
                                    'data-reflex-permanent': true,
                                    class: 'input-bici' %>
              <%= p.text_field :start_hour, label: false, as: :string, value: start_hour, class: 'hidden' %>
              <%= p.text_field :end_hour,   label: false, as: :string, value: end_hour, class: 'hidden' %>
            <% end %>
          </div>

          <div>
            <div><%= field.label :urgence_id, 'Délais de livraisons', class: 'label-bici'%></div>
            <div>
              <%= field.collection_select :urgence_id, Urgence.joins(:city_urgences).where(city_urgences: { city_id: @city.id }), :id, :name,
                                        {},
                                        { class: 'select-bici', 'data-reflex': 'change->Delivery#urgence'} %>
            </div>
          </div>
          <div>
            <div><%= field.label :volume_id, 'Volume à transporter', class: 'label-bici'%></div>
            <div>
              <%= field.collection_select :volume_id, Volume.includes(:city_volumes).where(city_volumes: { city_id: @city.id }), :id, :name,
                                          {},
                                          { class: 'select-bici', 'data-reflex': 'change->Delivery#volume'}  %>
            </div>
          </div>
          <%= field.label :details, "Détails de livraison" %>
          <%= field.text_area :details, as: :text,
                                    placeholder: "Détails important pour la livraison (intephone, étage, etc.)",
                                    wrapper_html: {class: "col-span-full"},
                                    'data-reflex-permanent': true,
                                    'data-delivery-target': 'details',
                                    disabled: true,
                                    class:  @delivery.pickups.first.address.nil? || @delivery.drops.first.address.nil? ? 'bg-gray-200 col-span-full input-bici' : 'col-span-full input-bici'  %>


          <%= render(TotalComponent.new(delivery: @delivery, city: @city)) %>

          <fieldset class="col-span-full flex justify-end form-group boolean optional snippet_archived">
            <div class="form-check text-gray-900">
              <label class="form-check-label boolean optional" for="snippet_archived">Euros</label>
              <input name="snippet[archived]" type="hidden" value="0">
              <input data-action="click->delivery#switch" class="form-check-input boolean optional toggle" type="checkbox" value="1" name="snippet[archived]" id="snippet_archived">
              <label class="form-check-label boolean optional" for="snippet_archived">Tickets</label>
            </div>
          </fieldset>

        </div>

        <div class="flex justify-end"><%= field.submit "Commander", class: 'btn-bici w-40', data: {'delivery-target': 'submit'} %></div>

      <% end %>

    </div>
</div>
