<div class="z-50 h-screen w-screen  pt-16 md:px-24 lg:px-48 xl:px-72 2xl:px-96 transition" data-delivery-target="form">
    <div class="w-full_h-full bg-green-100"></div>
    <div class="bg-white m-auto h-auto rounded-xl px-4 pt-2 pb-4">
      <p class="text-right"><i data-action="click->delivery#abort" class="fas fa-times col-span-full hover:text-gray-400 text-lg mr-1"></i></p>
      <%= simple_form_for @delivery, data: {reflex: 'submit->Delivery#create'} do |field|%>
      <div class="grid md:grid-cols-2 gap-2 p-4">
        <%= field.hidden_field :distance %>
        <%= field.hidden_field :tickets_distance%>
        <div class="w-full h-full">
          <%= field.fields_for :pickups do |p|%>
            <%= p.input :address, label: 'Adresse de départ', placeholder: "8 Passage de la poule noire, 44000 Nantes", input_html: {'data-reflex': 'debounced:change->Delivery#distance', 'data-delivery-target': "pickup", 'data-reflex-permanent': true, class: "address-input"  } %>
            <%= p.input :start_hour, label: false, as: :string, input_html: { value: start_hour, class: 'hidden'  } %>
            <%= p.input :end_hour,   label: false, as: :string, input_html: { value: end_hour, class: 'hidden'  } %>
          <% end %>
        </div>
        <div class="w-full h-full">
          <%= field.fields_for :drops do |p|%>
            <%= p.input :address, label: "Adresse d'arrivée", placeholder: "8 Passage de la poule noire, 44000 Nantes", input_html: {'data-reflex': 'debounced:change->Delivery#distance', 'data-delivery-target': "drop", 'data-reflex-permanent': true, class: "address-input"  } %>
            <%= p.input :start_hour, label: false, as: :string, input_html: { value: start_hour, class: 'hidden' } %>
            <%= p.input :end_hour,   label: false, as: :string, input_html: { value: end_hour, class: 'hidden'  } %>
          <% end %>
        </div>

        <%= field.association :urgence, label: "Délai de livraison",    collection: Urgence.includes(:city_urgences).where(city_urgences: { city_id: @city.id }), include_blank: false, label_required: true, input_html: {'data-reflex': 'change->Delivery#urgence'} %>
        <%= field.association :volume,  label: "Volume à transporter",  collection: Volume.includes(:city_volumes).where(city_volumes: { city_id: @city.id }),  include_blank: false, label_required: true, input_html: {'data-reflex': 'change->Delivery#volume'}  %>
        <%= field.input :details, as: :text, placeholder: "Détails important pour la livraison (intephone, étage, etc.)", wrapper_html: {class: "col-span-full"}, input_html: {'data-reflex-permanent': true}  %>
        <div class="col-span-full flex justify-between">
          <%= field.input :phone, label: 'Téléphone', wrapper_html: { class: "w-1/2 pr-2" } %>
          <%= field.input :email, label: 'Email', wrapper_html: { class: "w-1/2" } %>
        </div>
        <%= render(TotalComponent.new(delivery: @delivery, city: @city)) %>
        <%#= field.input :switch, input_html: { class: "toggle" } %>
        <fieldset class="col-span-full flex justify-end form-group boolean optional snippet_archived">
          <div class="form-check">
            <label class="form-check-label boolean optional" for="snippet_archived">Euros</label>
            <input name="snippet[archived]" type="hidden" value="0">
            <input data-delivery-target="switch" data-action="click->delivery#switch" class="form-check-input boolean optional toggle" type="checkbox" value="1" name="snippet[archived]" id="snippet_archived">
            <label class="form-check-label boolean optional" for="snippet_archived">Tickets</label>
          </div>
        </fieldset>

      </div>
      <div class="flex justify-end"><%= field.submit "Commander", class: 'btn-bici w-40', data: {'delivery-target': 'submit'} %></div>
      <% end %>
    </div>
</div>
