<div class="hcf-main-container">
  <div class="header">
    <h1>Ma commande</h1>
    <!-- <span><%= @order.state %></span> -->
  </div>
  <div class="content">
      <%= render 'shared/index_shopping_carts_courses', courses: @order.shopping_cart.courses %>
      <%= render 'shared/index_shopping_carts_carnets', carnets: @order.shopping_cart.carnets %>
  </div>
  <div class="footer">
    <div class="right-button">
      <button id="confirmer" class="bici-button">Payer ma commande</button>

            <script src="https://js.stripe.com/v3/"></script>
            <script>
              const paymentButton = document.getElementById('confirmer');
              paymentButton.addEventListener('click', () => {
                const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
                stripe.redirectToCheckout({
                  sessionId: '<%= @order.checkout_session_id %>'
                });
              });
            </script>
    </div>
  </div>
</div>


