
<%= simple_form_for course, remote: true do |f| %>

  <%= f.fields_for :pickups, remote: true do |pickup| %>
    <%= pickup.input :address, label: false, required: :true, placeholder: 'Adresse de rammassage', input_html: { class: 'address-input' } %>
  <% end %>

  <%= f.fields_for :drops do |drop| %>
    <%= drop.input :address, label: false, required: :true, placeholder: 'Adresse de livraison', input_html: { class: 'address-input' } %>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p class='distance'>coucou</p>
  <p class='tickets'>kaka</p>

  <%= f.submit "Ajouter au panier", class: "bici-button" %> <br>

<% end %>

