<div data-reflex-root="[distance],[urgence],[volume],[total]">
<div>
  <%= simple_form_for delivery, remote: true do |f| %>
    <div class="div-align toggle-element mt-5 hiden" id="page-1">
      <div>
        <%= f.fields_for :pickups, remote: true do |pickup| %>
          <%= pickup.input :address,
                        label: false,
                        required: :true,
                        placeholder: 'Adresse de rammassage',
                        input_html: { value: @delivery.pickups.first.address,
                                      class: 'address-input w-full',
                                      'data-reflex': "blur->Option#distance"  } %>
          <div class='hidden'>
            <%= pickup.input :date,
                        label: false,
                        as: :string,
                        placeholder: 'Date',
                        required: true,
                        input_html: { class: "datepicker",
                                      value: (Date.today)} %>

            <%= pickup.input :start_hour,
                            label: false,
                            as: :string,
                            placeholder: 'pu start',
                            required: true,
                            input_html: { value: Time.now.strftime("%H:%M") } %>

            <%= pickup.input :end_hour, label: false, as: :string, placeholder: 'pu end',   required: true, input_html: { value: @city.end_hour } %>
          </div>
        <% end %>

        <%= f.fields_for :drops do |drop| %>
          <%= drop.label :address, "Adresse de rammassage", class: 'hidden'  %>
          <%= drop.input :address,
                        label: false,
                        required: :true,
                        placeholder: 'Adresse de livraison',
                        input_html: { class: 'address-input w-full mt-4',
                                      value: @delivery.drops.first.address,
                                    'data-reflex': "blur->Option#distance" } %>
          <div class='hidden'>
            <%= drop.input :date,
                        label: false,
                        as: :string,
                        placeholder: 'Date',
                        required: true,
                        input_html: {class: "datepicker", value: (Date.today) } %>

            <%= drop.input :start_hour, label: false, as: :string, placeholder: 'dr start', required: true, input_html: { value: Time.now.strftime("%H:%M") } %>
            <%= drop.input :end_hour,   label: false, as: :string, placeholder: 'dr end',   required: true, input_html: { value: @city.end_hour } %>
            <%= drop.input :details,    label: false, as: :string, placeholder: 'details',  required: true %>
          </div>
        <% end %>
      </div>



      <%# IMPLEMENTATION IMAGE %>
            <%#= f.fields_for :delivery_options do |optn| %>
              <%#= optn.collection_radio_buttons(:user_option, @availible_urgences, :id, :name) do |b|
              # raise
              # b.label(class: 'categorsy-selector', 'data-reflex': 'change->Option#urgence') { image_tag("commande/bike-white.svg") + b.radio_button }

              # end %>
            <%# end %>
      <%# IMPLEMENTATION IMAGE %>

      <%= f.fields_for :delivery_options do |urge| %>
        <%= urge.association :option,
                legend_tag: false,
                # label: false,
                # as: :radio_buttons,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'categosry-wrapper mb-5',
                item_wrapper_class: 'category-istem',
                input_html: {class: 'categorsy-selector mt-2 py-1 rounded w-full', 'data-reflex': 'change->Option#urgence'},
                collection: @availible_urgence_options.map { |r| [r.name, r.id, { 'data-image': r.image }] },
                selected: @availible_urgence_options.first %>
      <% end %>

      <%=   %>

      <%= f.simple_fields_for :delivery_options do |vol| %>
        <%= vol.association :option,
                legend_tag: false,
                # label: false,
                 as: :radio_buttons,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper m-4',
                item_wrapper_class: 'category-item m-1',
                input_html: {class: 'category-selector my-5 py-1 rounded w-full', 'data-reflex': 'change->Option#volume'},
                label_html: {class: 'cette classe marche pas'},
                collection: @availible_volume_options.map { |r| [r.name, r.id, { 'data-image': r.image}] },
                selected: @availible_volume_options.first %>
        <%# <%= vol.label :option, input_html: { class: 'ccoucocucoucoccoucocucoucocuccoucocucoucocuccoucocucoucocuccoucocucoucocuccoucocucoucocucu'}  %> %>
      <%  end %>

    </div>

    <div class="div-align toggle-element mt-5" id="page-2">
      <%= f.label :details, label: "Informations", input_html: {class: ''}  %>
      <%= f.input :details, as: :text, label: false, input_html: {class: "mt-2 w-full rounded h-full"} %>

      <%= f.submit "course", class: "btn-bici hiden", id: 'save-course' %>
    </div>

      <div class="border-b-2 border-white mb-4 font-bold text-white">Options</div>

      <div distance>
        <span class="font-bold">Distance :</span>
        <span><span id="distance-km-nb"><%= @delivery.distance.nil? ? 0 : (@delivery.distance / 1000.000) %> </span> km soit <span id="distance-ticket-nb"> <%= @delivery.tickets_distance.nil? ? 0 : (@delivery.tickets_distance) %> </span></span>
        <%= f.input :distance, label: false, input_html: { value: @delivery.distance, class:"hidden"}  %>
        <%= f.input :tickets_distance, label: false, input_html: { value: @delivery.tickets_distance, class:"hidden" }  %>
      </div>

      <div urgence>
        <span class="font-bold">Urgence :</span>
        <span id="urgence-ticket-nb"><%= @delivery.delivery_options.first.option.nil? ? 0 : @delivery.delivery_options.first.option.tickets %></span>
        <%# <%= f.input :tickets_urgence, label: false, input_html: { value: @delivery.delivery_options.first.option.tickets, class:"hidden" }  %>
      </div>

      <div volume>
        <span class="font-bold">Volume :</span>
        <span id="volume-ticket-nb"><%= @delivery.delivery_options.last.option.nil? ? 0 : @delivery.delivery_options.last.option.tickets %></span>
        <%# <%= f.input :tickets_volume,label: false, input_html: { value: @delivery.delivery_options.last.option.tickets, class:"hidden" }  %>
      </div>

      <div class="border-b-2 border-white my-4 text-white font-bold">Total</div>

      <div total>
        <p class="font-bold" >Avec abonnement : <b><span><%= @total %> tickets</span></b></p>
        <p class="font-bold" >Sans abonnement : <b><span> </span> €</b></p>
      </div>

      <div class='hidden'>
        <%#= f.fields_for(resource, as: resource_name, url: registration_path(resource_name)) do |user| %>
          <%#= user.input :email %>
        <%# end %>
        <input type="checkbox" id="stripe" name="stripe">
        <label for="stripe">stripe</label>

        <script src="https://js.stripe.com/v3/"></script>
        <script>
          document.body.addEventListener('ajax:success', (event) => {
            const checkoutId = new Promise((resolve, reject) => {
              console.log("1" + event.detail[0].checkout_id)
              resolve(event.detail[0].checkout_id)
            }, console.log("gerer l'erreur"));

            checkoutId.then((value) => {
              console.log(value)
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: value
              });
            })
          });
        </script>
      </div>




  <% end %>

  <div class="flex justify-end my-5">
    <button class="btn-bici" id='continue'>Continuer ></button>
  </div>
</div>
