
<%= simple_form_for course, remote: true do |f| %>

  <div id="addresses">
    <%= f.fields_for :pickups, remote: true do |pickup| %>
      <%= pickup.label :address, "Adresse de rammassage" %>
      <%= pickup.input :address, label: false, required: :true, placeholder: 'Adresse de rammassage', input_html: { class: 'address-input address-validator' } %>
      <div class='hidden'>
        <%= pickup.label :date, "Date de rammassage" %>
        <%= pickup.input :date, as: :string, placeholder: 'Date', label: false, required: true, input_html: {class: "pickup-date-input"} %>
        <%= pickup.label :start_hour, "Heure pour début de rammassage" %>
        <%= pickup.input :start_hour, as: :string, placeholder: 'pu start', label: false, required: true%>
        <%= pickup.label :end_hour, "Heure maximum pour le rammassage" %>
        <%= pickup.input :end_hour, as: :string, placeholder: 'pu end', label: false, required: true%>
      </div>
    <% end %>

    <%= f.fields_for :drops do |drop| %>
    <%= drop.label :address, "Adresse de rammassage" %>
      <%= drop.input :address, label: false, required: :true, placeholder: 'Adresse de livraison', input_html: { class: 'address-input address-validator' } %>
      <div class='hidden'>
        <%= drop.label :date, "Date de rammassage" %>
        <%= drop.input :date, as: :string, placeholder: 'Date', label: false, required: true, input_html: {class: "drop-date-input"} %>
        <%= drop.label :start_hour, "Heure pour début de rammassage" %>
        <%= drop.input :start_hour, as: :string, placeholder: 'dr start', label: false, required: true%>
        <%= drop.label :end_hour, "Heure maximum pour le rammassage" %>
        <%= drop.input :end_hour, as: :string, placeholder: 'dr end', label: false, required: true%>
        <%= drop.label :details, "détails pour la livraison" %>
        <%= drop.input :details, as: :string, placeholder: 'details', label: false, required: true %>

        <input type="input" id="bike" name="bike">
        <label for="bike">cargo</label>
      </div>
    <% end %>
  </div>

  <div class="div-align toggle-element" data-urgence='0' id="urgence">
    <div class="icon-w fs10"><div class='icon urgence urgence-1 urgence-validator' data-tickets='0'></div><p><span class='urgence-0-day'></span> avant <span class='urgence-0-hour'></span></p></div>
    <div class="icon-w fs10"><div class='icon urgence urgence-2 urgence-validator' data-tickets='2'></div><p><span class='urgence-2-day'></span> avant <span class='urgence-2-hour'></span></p></div>
    <div class="icon-w fs10"><div class='icon urgence urgence-3 urgence-validator' data-tickets='1'></div><p><span class='urgence-1-day'></span> avant <span class='urgence-1-hour'></span></p></div>
  </div>
  <div class="div-align toggle-element" data-volume='0' id="volume">
    <div class="icon-w fs10"><div class='icon volume volume-1 volume-validator' data-tickets='0' data-text='Enveloppe ou petit colis'></div><p>Enveloppe ou petit colis</p></div>
    <div class="icon-w fs10"><div class='icon volume volume-2 volume-validator' data-tickets='1' data-text='Gros colis ou > 5kg'></div><p>Gros colis ou > 5kg</p></div>
  </div>

  <div class="main-toggle-resultat toggle-element">
    <div class="left-box-resultat">
      <p class="left-distance"><span id="kilometers"> </span></p>
      <p class="left-urgence"><span class="heure"> </span></p>
      <p class="left-volume" id='vo-text-volume'> </p>
    </div>
    <div class="right-box-resultat">
      <p class="right-distance sous-total"></p>
      <p class="right-urgence sous-total"></p>
      <p class="right-volume sous-total"></p>
    </div>
  </div>

  <div class="total toggle-element">
    <p class="total-text">Avec abonnement : <b><span id='total-course'>0</span> ticket(s)</b></p>
    <p class="total-text">Sans abonnement : <b><span id='total-price'>0</span> €</b></p>
  </div>


  <div class='hidden'>
    <%= f.fields_for(resource, as: resource_name, url: registration_path(resource_name)) do |user| %>
      <%= user.input :email %>
    <% end %>
    <input type="checkbox" id="stripe" name="stripe">
    <label for="stripe">stripe</label>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      document.body.addEventListener('ajax:success', (event) => {
        const checkoutId = new Promise((resolve, reject) => {
          console.log("1" + event.detail[0].checkout_id)
          resolve(event.detail[0].checkout_id)
        }, console.log("gerer l'erreur"));

        checkoutId.then((value) => {
          console.log(value)
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: value
          });
        })
      });
    </script>
  </div>

  <%= f.submit "course", class: "bici-button hidden", id: 'save-course' %>
<% end %>


<button class="bici-button " id='continue'>Continuer</button>

