<div class="" data-controller="distance urgence volume application">
<%= simple_form_for course, remote: true do |f| %>

  <div id="">
    <%= f.fields_for :pickups, remote: true do |pickup| %>
      <%= pickup.input :address, required: :true, placeholder: 'Adresse de rammassage', default: "ok", input_html: { value: "Nantes", class: 'address-input w-full' , :'data-action' => "change->distance#calcul input->distance#calcul change->map#displayRoutes", :'data-distance-target' => "pickup", :'data-map-target' => "pickup" } %>
        <%= pickup.input :date, as: :string, placeholder: 'Date', required: true, input_html: {class: "datepicker", value: (Date.today) } %>
      <div class='hidden'>
        <%= pickup.input :start_hour, as: :string, placeholder: 'pu start', required: true, input_html: { value: Time.now.strftime("%H:%M") } %>
        <%= pickup.input :end_hour, as: :string, placeholder: 'pu end', required: true, input_html: { value: @city.end_hour } %>
      </div>
    <% end %>

    <%= f.fields_for :drops do |drop| %>
    <%= drop.label :address, "Adresse de rammassage", class: 'hidden'  %>
      <%= drop.input :address,
                    required: :true,
                    placeholder: 'Adresse de livraison',
                    input_html: { class: 'address-input w-full mt-4' , :'data-action' => "change->distance#calcul change->input#calcul change->map#displayRoutes", :'data-distance-target' => "drop", :'data-map-target' => "drop" } %>
        <%= drop.input :date, as: :string, placeholder: 'Date', required: true, input_html: {class: "datepicker", value: (Date.today) } %>
        <%= drop.input :start_hour, as: :string, placeholder: 'dr start', required: true, input_html: { value: Time.now.strftime("%H:%M") } %>
      <div class='hidden'>
        <%= drop.input :end_hour, as: :string, placeholder: 'dr end', required: true, input_html: { value: @city.end_hour } %>
        <%= drop.input :details, as: :string, placeholder: 'details', required: true %>
      </div>
    <% end %>
  </div>

  <div class="div-align toggle-element" data-urgence='0' id="urgence">


  <%= f.input :urgence,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector', 'data-action': "click->urgence#choosing"},
            collection: Urgence.all.map { |category| [category.name, category.id]} %>

  <%= f.input :volume,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector', 'data-action': "click->volume#ticket click->application#total"},
            collection: Volume.first(3).map { |category| [category.name, category.id, category.ticket]} %>


  <div>
    <span data-distance-target="distance">Distance</span>
    <span data-distance-target="distanceTicket" data-application-target="distance">0</span>
  </div>
  <div>
    <span data-urgence-target="text">Urgence</span>
    <span data-urgence-target="ticket" data-application-target="urgence">0</span>
  </div>
  <div>
    <span data-volume-target="text">Volume/poids</span>
    <span data-volume-target="ticket" data-application-target="volume">0</span>
  </div>


  <div class="total toggle-element">
    <p class="total-text">Avec abonnement : <b><span data-application-target="total" >0</span> ticket(s)</b></p>
    <p class="total-text">Sans abonnement : <b><span id='total-price'>0</span> €</b></p>
  </div>


  <div class='hidden'>
    <%= f.fields_for(resource, as: resource_name, url: registration_path(resource_name)) do |user| %>
      <%= user.input :email %>
    <% end %>
    <input type="checkbox" id="stripe" name="stripe">
    <label for="stripe">stripe</label>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      document.body.addEventListener('ajax:success', (event) => {
        const checkoutId = new Promise((resolve, reject) => {
          console.log("1" + event.detail[0].checkout_id)
          resolve(event.detail[0].checkout_id)
        }, console.log("gerer l'erreur"));

        checkoutId.then((value) => {
          console.log(value)
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: value
          });
        })
      });
    </script>
  </div>

  <%= f.submit "course", class: "bici-button hidden", id: 'save-course' %>
<% end %>


<button class="bici-button " id='continue'>Continuer</button>

</div>
    <!--<div class="icon-w fs10"><div class='icon urgence urgence-1 urgence-validator' data-tickets='0'></div><p><span class='urgence-0-day'></span> avant <span class='urgence-0-hour'></span></p></div>
    <div class="icon-w fs10"><div class='icon urgence urgence-2 urgence-validator' data-tickets='2'></div><p><span class='urgence-2-day'></span> avant <span class='urgence-2-hour'></span></p></div>
    <div class="icon-w fs10"><div class='icon urgence urgence-3 urgence-validator' data-tickets='1'></div><p><span class='urgence-1-day'></span> avant <span class='urgence-1-hour'></span></p></div>
  </div>
  <div class="div-align toggle-element" data-volume='0' id="volume">
    <div class="icon-w fs10"><div class='icon volume volume-1 volume-validator' data-tickets='0' data-text='Enveloppe ou petit colis'></div><p>Enveloppe ou petit colis</p></div>
    <div class="icon-w fs10"><div class='icon volume volume-2 volume-validator' data-tickets='1' data-text='Gros colis ou > 5kg'></div><p>Gros colis ou > 5kg</p></div>
  </div>

  <div class="main-toggle-resultat toggle-element">
    <div class="left-box-resultat">
      <p class="left-distance"><span id="kilometers"> </span></p>
      <p class="left-urgence"><span class="heure"> </span></p>
      <p class="left-volume" id='vo-text-volume'> </p>
    </div>
    <div class="right-box-resultat">
      <p class="right-distance sous-total"></p>
      <p class="right-urgence sous-total"></p>
      <p class="right-volume sous-total"></p>
    </div>
  </div>-->
