<div class="course-main-container" data-controller="distance urgence volume map slider">
  <%= simple_form_for @course, remote: true do |f| %>

    <div class="first-container">
      <!-- __________ ADRESSE DE RAMMASSAGE __________ -->
      <div class="rammassage">
        <%= f.fields_for :pickups, remote: true do |pickup| %>
          <%= pickup.input :address, label: false, required: :true, placeholder: 'Adresse de rammassage', input_html: { :'data-action' => "change->distance#calcul input->distance#calcul change->map#displayRoutes", :'data-target' => "distance.pickup map.pickup" } %>
          <%= pickup.input :date, as: :string, placeholder: 'Date', label: false, required: true, input_html: {class: "datepicker", :'data-target' => "urgence.dateStart"} %>
          <%= pickup.input :details, as: :string, placeholder: 'details', label: false, required: true %>
          <div class='hiddden'>
            <%= pickup.input :start_hour, as: :string, placeholder: 'pu start', label: false, required: true, input_html: { :'data-target' => "urgence.hourPickupStart" } %>
            <%= pickup.input :end_hour, as: :string, placeholder: 'pu end', label: false, required: true, input_html: { :'data-target' => "urgence.hourPickupEnd" } %>
            <div class="slider-container hiddden-trans"><div data-target="slider.sliderPickup" data-action="click->slider#getCityInfo"></div><span  id="slider-pickup-value" class="hidden"></span></div>
          </div>
        <% end %>
      </div>
      <!-- __________ ADRESSE DE LIVRAISON __________ -->
      <div class="livraison">
        <%= f.fields_for :drops do |drop| %>
          <%= drop.input :address, label: false, required: :true, placeholder: 'Adresse de livraison', input_html: { :'data-action' => "change->distance#calcul change->input#calcul change->map#displayRoutes", :'data-target' => "distance.drop map.drop" } %>
          <%= drop.input :date, as: :string, placeholder: 'Date', label: false, required: true, input_html: {class: "datepicker", :'data-target' => "urgence.dateEnd"} %>
          <%= drop.input :details, as: :string, placeholder: 'details', label: false, required: true %>
          <div class='hiddden'>
            <%= drop.input :start_hour, as: :string, placeholder: 'dr start', label: false, required: true, input_html: { :'data-target' => "urgence.hourDropStart" } %>
            <%= drop.input :end_hour, as: :string, placeholder: 'dr end', label: false, required: true, input_html: { :'data-target' => "urgence.hourDropEnd" } %>
            <div class="slider-container hiddden-trans"><div id="slider-drop" data-target="slider.sliderDrop"></div><span  id="slider-drop-value" class="hidden"></span></div>


          </div>
        <% end %>
      </div>
    </div>

    <div class="second-container">
      <!-- __________ MAP __________ -->
      <div id="map-container" data-target="map.map" data-google-api-key="<%= ENV['GOOGLE_API_KEY'] %>">
      </div>
      <div class="options-container">
        <!-- __________ URGENCES __________ -->
        <div class="urgences-container ddropdown-options urgence-options">

          <div class="button-second"><p>C'est urgent ?</p><i class="fas fa-caret-down"></i></div>
          <div class="options">
            <%# <div class="icon-w fs10"></div>
            <div class="icon-w fs10"></div>
            <div class="icon-w fs10"></div> %>

            <div class="urgence-1 urgence active" data-action="click->urgence#ticket" data-target="urgence.urgence" >
              <div class="urgence-image"></div>
              <div class='icon urgence-1' data-tickets='0'></div>
              <p>
                <span class='urgence-0-day' data-target="urgence.urgenceDayText"></span> 
                avant 
                <span class='urgence-0-hour' data-target="urgence.urgenceHourText"></span>
              </p>
            </div>

            <div class="urgence-2 urgence" data-action="click->urgence#ticket" data-target="urgence.urgence">
              <div class="urgence-image"></div>
              <div class='icon urgence-2' data-tickets='2'></div>
              <p>
                <span class='urgence-2-day' data-target="urgence.urgenceDayText"></span>
                avant 
                <span class='urgence-2-hour' data-target="urgence.urgenceHourText"></span>
              </p>
            </div>

            <div class="urgence-3 urgence" data-action="click->urgence#ticket" data-target="urgence.urgence">
              <div class="urgence-image"></div>
              <div class='icon urgence-3' data-tickets='1'></div>
              <p>
                <span class='urgence-1-day' data-target="urgence.urgenceDayText"></span>
                avant 
                <span class='urgence-1-hour' data-target="urgence.urgenceHourText"></span>
              </p>
            </div>

            <div class="urgence-4 urgence " data-action="click->urgence#ticket">
              <div class="urgence-image"></div>
              <p>Sur mesure</p>
              <p>
                <span class='urgence-1-day' data-target="urgence.urgenceDayText"></span>
                avant 
                <span class='urgence-1-hour' data-target="urgence.urgenceHourText"></span>
              </p>
            </div>
          </div>


        </div>
        <!-- __________ VOLUME __________ -->
        <div class="hidden">
          <input type="input" id="bike" name="bike" data-target="volume.input">
          <label for="bike">cargo</label>
        </div>
        <div class="bikes-container ddropdown-options urgence-options">

          <div class="bike-options button-second"><p>Type de marchandise</p><i class="fas fa-caret-down"></i></div>
          <div class="options">

            <div class="bike-1 bike volume" data-tickets='0' data-action="click->volume#ticket" data-target="volume.size">
              <div class="bike-1-image"></div>
              <div class='icon volume volume-1' data-text='Enveloppe ou petit colis'></div><p>Enveloppe ou petit colis</p>
            </div>
            <div class="bike-2 volume bike" data-tickets='1' data-action="click->volume#ticket" data-target="volume.size">
              <div class="bike-2-image"></div>
              <div class='icon volume volume-2' data-text='Gros colis ou > 5kg'></div><p>Gros colis ou > 5kg</p>
            </div>
            <div class="bike-3 volume bike" data-tickets='0' data-action="click->volume#ticket" data-target="volume.size">
              <div class="bike-2-image"></div>
              <div class='icon volume volume-2' data-text='Miam'></div><p>Miam</p>
            </div>
          </div>
        </div>
        <!-- __________ TOTAL __________ -->
        <div class="total-container" data-carnet-price='<%= @carnet.blank? ? 583 : @carnet.carnet_template.price_cents %>'>
        <div class="total-title price-line">                           <div class="column1"><p>Prestation</p></div>                      <div class="column2 euro-image"></div>                   <div class="column3 ticket-image"></div>                      </div>
        <div class="vi-sous-total total-distance price-line">          <div class="column1" ><p data-target="distance.distance">Distance</p></div>       <div class="column2"><p id="distance-e" >inclu</p></div>  <div class="column3"><p class="sous-total right-distance" data-target="distance.distanceTicket">0</p></div>    </div>
        <div class="vi-sous-total total-urgence price-line">           <div class="column1 "><p data-target="urgence.text" class="heure">Urgence</p></div>                        <div class="column2"><p id="urgence-e">inclu</p></div>   <div class="column3"><p class="sous-total right-urgence id="urgence-t" data-target="urgence.ticket">0</p></div>            </div>
        <div class="vi-sous-total total-cargo price-line">             <div class="column1"><p data-target="volume.text" id='vo-text-volume'>Volume/poids</p></div>                    <div class="column2"><p id="cargo-e">inclu</p></div>     <div class="column3"><p class="sous-total right-volume" id="cargo-t" data-target="volume.ticket" >0</p></div>              </div>
        <div class="total total-ticket price-line">                    <div class="column1"><p>Total</p></div>                           <div class="column2"><p id="total-price">0.00</p></div>      <div class="column3"><p id="total-course">0</p></div>         </div>
      <% if @carnet.blank? %>
        <div class="carnet-diff">
          <%= f.submit "Ajouter au panier", class: "bici-button" %> <br>

          <p>Avec nos différents carnet économisez sur vos livraisons</p>
          <p>Cette course pour seulement <strong><span id="best-price">0.00</span></strong> h.t avec un carnet de 100 tickets !</p>
          <%= link_to "Nos carnets", new_carnet_path, class: "bici-button" %>
        </div>
      <% else %>
        <div class="carnet-diff">
          <%= f.submit "Commander", class: "bici-button" %> <br>
        </div>
      <% end %>
    </div>




      </div>
    </div>
  <% end %>
</div>

