<div class="course-show-container">
  <div class="first-container">
    <div class="rammassage">
      <h1>Ramassage</h1>
      <p id="rec-address-pickup"> <%= @course.pickups.first.address %> </p>
      <p> <%= (@course.pickups.first.date).strftime('%e/%V/%y') %></p>
      <p> <%= @course.pickups.first.details %></p>
    </div>
    <div class="livraison">
      <h1>Livraison</h1>
      <p id="rec-address-drop"> <%= @course.drops.first.address %></p>
      <p> <%= (@course.drops.first.date).strftime('%e/%V/%y') %></p>
      <p> <%= @course.drops.first.details %></p>
    </div>
  </div>
  <div class="second-container">
    <div
      id="show-map-container"
      data-google-api-key="<%= ENV['GOOGLE_API_KEY'] %>">
    </div>
    <div class="total-container">
      <div class="total-title price-line">               <div class="column1"><p>Prestation</p></div>   <div class="column2 euro-image"></div>                                                                                                                                            <div class="column3 ticket-image"></div>                                          </div>
      <div class="sous-total total-distance price-line"> <div class="column1"><p>Distance</p></div>     <div class="column2"><p id="distance-e"><%= number_with_precision(  (@course.carnet.present? ? (@course.carnet.carnet_template.price_cents) : 583)/100.00 *  @course.tickets_distance, precision: 2) %> €</p></div>   <div class="column3"><p id="distance-t"><%= @course.tickets_distance %></p></div> </div>
      <div class="sous-total total-urgence price-line">  <div class="column1"><p>Urgence</p></div>      <div class="column2"><p id="urgence-e"><%= number_with_precision(   (@course.carnet.present? ? (@course.carnet.carnet_template.price_cents) : 583)/100.00 *  @course.tickets_urgence, precision: 2) %> €</p></div>     <div class="column3"><p id="urgence-t"><%= @course.tickets_urgence %></p></div>   </div>
      <div class="sous-total total-cargo price-line">    <div class="column1"><p>Volume/poids</p></div> <div class="column2"><p id="cargo-e"><%= number_with_precision(     (@course.carnet.present? ? (@course.carnet.carnet_template.price_cents) : 583)/100.00 *  @course.tickets_volume, precision: 2) %> €</p></div>        <div class="column3"><p id="cargo-t"><%= @course.tickets_volume %></p></div>      </div>
      <div class="total total-ticket price-line">        <div class="column1"><p>Total</p></div>        <div class="column2"><p id="total-e"><%= number_with_precision(     (@course.carnet.present? ? (@course.carnet.carnet_template.price_cents) : 583)/100.00 *  @course.ticket_nb, precision: 2) %> €</p></div>             <div class="column3"><p id="total-t"><%= @course.ticket_nb %></p></div>           </div>
    </div>
  </div>
</div>


